In [6]:
import pandas as pd
train = pd.read_csv("train.tsv", sep="\t", index_col=0) # 学習用データ
test = pd.read_csv("test.tsv", sep="\t", index_col=0)   # 評価用データ
sample_submit = pd.read_csv("sample_submit.tsv", sep="\t", index_col=0, header=None) # 応募用サンプルファイル

### explain of data
one row represents one passenger's information.<br>
there are eight difference columns.<br>
survived is the target variable for this prediction<br>
1 = survived, 0 = died.<br>

In [29]:
train.head()

    survived  sibsp  parch     fare
id
3          1      1      0  53.1000
4          0      0      0   8.0500
7          0      3      1  21.0750
9          1      1      0  30.0708
11         1      0      0  26.5500

In [30]:
# number of people who survived
train['survived'].value_counts()

0    266
1    179
Name: survived, dtype: int64

In [31]:
# survival probability
a = 179/(179+266)
print (a)

0.40224719101123596

In [32]:
train = train[["survived", "sibsp", "parch", "fare"]]
test = test[["sibsp","parch","fare"]]

In [33]:
y = train["survived"] # objective variable
X = train.drop(["survived"], axis=1) # data excluding the target variable

In [34]:
# LogisticRegression
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X, y)

LogisticRegression()

In [35]:
pred  = model.predict_proba(test)[:, 1]

In [36]:
print(pred[:100])

[0.27086714 0.52854033 0.32716076 0.32918889 0.50920521 0.40010186
 0.33250276 0.32763556 0.32689199 0.3585257  0.34671375 0.30899962
 0.39908517 0.34671375 0.32755653 0.95956676 0.40622429 0.8040907
 0.57495201 0.44563257 0.32763556 0.25686445 0.28467791 0.27851325
 0.32763556 0.29986875 0.26916419 0.30826351 0.25483989 0.32668631
 0.55186826 0.584595   0.43895297 0.32452432 0.58044019 0.40622429
 0.32695918 0.33701197 0.18384679 0.25431159 0.52915314 0.32611745
 0.3270499  0.32763556 0.4758046  0.34466545 0.33316883 0.20473727
 0.32763556 0.32763556 0.48498628 0.43536329 0.59035993 0.3270499
 0.3270499  0.6469636  0.32993551 0.22511312 0.3270499  0.32659147
 0.3270499  0.33209637 0.279728   0.32649663 0.97186165 0.3551241
 0.6469636  0.32419356 0.29625991 0.33921196 0.41724239 0.32649663
 0.30113777 0.34087678 0.41312933 0.34486028 0.32483937 0.58207953
 0.32643329 0.32763556 0.32996716 0.18882767 0.35753455 0.32659147
 0.43953662 0.47185806 0.43047571 0.22180878 0.31154475 0.32716076
 0.29954433 0.34671375 0.29780893 0.35476583 0.50117466 0.40136247
 0.3279248  0.34671375 0.3690089  0.40622429]

In [37]:
sample_submit[1] = pred
sample_submit.to_csv('submit.tsv', header=None, sep='\t')